<img src='https://lumiere-a.akamaihd.net/v1/images/Yoda-Retina_2a7ecc26.jpeg?region=0%2C0%2C1536%2C864&width=960&height=300'>
<h1>Star wars API retriever</h1>
<input type='number' placeholder='id' [(ngModel)]='frmId'min='1' max='5'/><br/>
<select [(ngModel)]='whichCategory'>
    <option *ngFor='let item of choices'>{{item.cat}}</option>
</select>
<button (click)='handleClick()'>search</button>

<h2 bold=true>Short search results</h2>

<!-- div tags to show results based on the category selected -->
<div *ngIf='whichCategory=="planets"'>Name:{{model.name}} Diameter:{{model.diameter}}</div>
<div *ngIf='whichCategory=="starships"'>Name:{{model.name}} Model:{{model.model}}</div>
<div *ngIf='whichCategory=="species"'>Name:{{model.name}} Classification:{{model.classification}}</div>
<div *ngIf='whichCategory=="vehicles"'>Name:{{model.name}} Model:{{model.model}}</div>
<div *ngIf='whichCategory=="people"'>Name:{{model.name}}Eye Colour:{{model.eye_color}}</div>
<h2>Full Search Results</h2>
<pre>{{model|json}}</pre>